body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Faint grey color */
    color: #333;
  }
  #f{
    text-decoration: solid;
    background-color: #f7f7f7;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  #main-content {
    padding: 20px;
  }
  .photos-container {
    display: flex;
    flex-wrap: wrap; /* Allow photos to wrap to the next line */
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .photo {
    flex:0 0 30%; /* Each photo takes 30% of the container's width */
    margin-bottom: 20px; /* Add some space between rows */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  img:hover {
    transform: scale(1.1);
  }
  video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  h2 {
    color: #444;
  }
  p {
    line-height: 1.6;
  }
  .contact-info {
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .contact-info p {
    margin-bottom: 10px;
  }
  .contact-info p:last-child {
    margin-bottom: 0;
  }
  #contact{
    padding: 0%;
  }
  .interests-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .interest {
    flex: 0 0 30%; /* Each interest takes 30% of the container's width */
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);}
    .interest1 {
      flex: 0 0 30%; /* Each interest takes 30% of the container's width */
      background-color:#f7f7f7;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
      color: #333;
    
  }
  .interest h3 {
    margin-top: 0;
  }
  .album-cover {
    max-width: 100%;
    height: auto;
  }
  .sports-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .sports-photo {
    flex: 0 0 47%; /* Each sports photo takes 30% of the container's width */
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .socialscontainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

  }
  .socials{
   margin-bottom: 20px;
   border-radius: 10px;
    overflow: hidden;
    max-width: 2cm;
  }
  .icon{
    border-radius: 50%;

  }
  .socialnames{
    font-style: italic;
    text-align: center;
  }
  .projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project{
  flex: 0 0 30%;
}
.projecttexts{
  text-align: center;
  font-style: inherit;
}
.projectphotos{
  align-self: center;
max-width: 20cm;
}
.qualitable{
  color: lightslategrey;
}
.experience1{
  background-color: #f7f7f7;
}
.experience2{
 background-color: #f7f7f7;
}
#ok, #ok1, #ok2, #ok3, #ok4, #ok5, #ok6, #ok7 {
  font-style: italic;
}
.contactcontainer{
  margin-bottom: 20px;
   border-radius: 10px;
justify-content: space-between;
}
.logo{
  position: absolute;
  max-width: 1.7cm;
  left: 30.8cm;
bottom: 12cm;
}
.lastlogo{
  max-width:  4cm;
  position: absolute;
  right: 14.7cm;
}
.credits{
  font-size: x-small;
  font-style: oblique;
  align-self: center;
}
.adspace{
  position: absolute;
  width: 50%;
  height:14.8cm ;
  left: 15.5cm;
}
.adspace1{
  position: absolute;
  width: 50%;
  height: 10cm;
  left:15.5cm ;
}
.extras{
  max-width: 14.7cm ;
  position: absolute;
right: 2cm;
}
.extras1{
  max-width: 7cm ;
  position: absolute;
right: 2cm;

}
.extras2{
  max-width: 7cm ;
  position: absolute;
right: 9.5cm;

}
.extrastrophy{
  max-width: 6cm ;
  position: absolute;
right: 2cm;
}
.extrastrophy1{
  max-width: 6cm ;
  position: absolute;
right: 9.5cm;
}